<!doctype html>
<html lang="en">
<head>
    <title>Dashboard</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/sidebar/css/style.css">

    <style>
        body {
            background-color: #f2c249;
        }

        .bg-light {
            background-color: #eeb50b !important;
        }

        .btn.btn-primary {
            background: #fe5210;
        }
      
    </style>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</head>
<body>
    
    <div class="wrapper d-flex align-items-stretch">
        <nav id="sidebar">
            <div class="p-4 pt-5">
                <a href="#" class="img logo rounded-circle mb-5" style="background-image: url(~/Content/sidebar/images/logo.jpg);"></a>
                <ul class="list-unstyled components mb-5">
                    <li class="active">
                        <a href="@Url.Action("Index","Home")">Dashboard</a>
                    </li>
                    <li>
                        <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Food Management</a>
                        <ul class="collapse list-unstyled" id="homeSubmenu">
                            <li>
                                <a href="@Url.Action("AddNew","Menu")">Add menu</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index","Menu")">Menu Detail</a>
                            </li>

                        </ul>
                    </li>

                    <li>
                        <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Staff Management</a>
                        <ul class="collapse list-unstyled" id="pageSubmenu">
                            <li>
                                <a href="@Url.Action("AddNew","Staff")">Add Staff</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index","Staff")">Staff Detail</a>
                            </li>

                        </ul>
                    </li>
                    <li>
                        <a href="@Url.Action("bill","total")">Customer Billing</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Aboutus","Menu")">About Developers</a>
                    </li>

                    <li>
                        <a href="@Url.Action("LogOut","Account")">LOG OUT</a>
                    </li>

                </ul>

                <!--<div class="footer">
                    <p>-->
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                <!--Copyright &copy;
                <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib.com</a>-->
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                <!--</p>
                </div>-->

            </div>
        </nav>

        <!-- Page Content  -->
        <div id="content" class="p-4 p-md-5">

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">

                    <button type="button" id="sidebarCollapse" class="btn btn-primary">
                        <i class="fa fa-bars"></i>
                        <span class="sr-only">Toggle Menu</span>
                    </button>
                    <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fa fa-bars"></i>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="nav navbar-nav ml-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="@Url.Action("Index","Home")">Dashboard</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("AddNew","Staff")">Staff</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("AddNew","Menu")">Food</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("bill","total")">Customerbilling</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("LogOut","Account")">Logout</a>
                            </li>
                        </ul>
                    </div>

                </div>
            </nav>
           
            @RenderBody()
        </div>
    </div>


    @RenderSection("scripts", required: false)

    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    @*    <script src="~/Content/sidebar/js/jquery.min.js"></script>*@
    <script src="~/Content/sidebar/js/popper.js"></script>
    <script src="~/Content/sidebar/js/bootstrap.min.js"></script>
    <script src="~/Content/sidebar/js/main.js"></script>
</body>
</html>

