<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Gusto</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="~/Content/template/style1.css" rel="stylesheet" />
    <!-- Favicons
        ================================================== -->
    <link rel="shortcut icon" href="~/Content/template/img/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="~/Content/template/img/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/Content/template/img/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/Content/template/img/apple-touch-icon-114x114.png">

    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="~/Content/template/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="~/Content/template/fonts/font-awesome/css/font-awesome.css">

    <!-- Stylesheet
        ================================================== -->

    <link href="~/Content/template/css/style.css" rel="stylesheet" />
    <link href="~/Content/template/https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700" rel="stylesheet">
    <link href="~/Content/template/https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <link href="~/Content/template/https://fonts.googleapis.com/css?family=Rochester" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    <style>
        .container2{
            background-color:darkslategrey;
        }
    </style>
</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    <!-- Navigation
        ==========================================-->
    <nav id="menu" class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="@Url.Action("Home","Template")" class="page-scroll">Home</a></li>
                    <li><a href="@Url.Action("Special","Template")" class="page-scroll">Specials</a></li>
                    <li><a href="@Url.Action("About","Template")" class="page-scroll">About</a></li>
                    <li><a href="@Url.Action("Menu","Template")" class="page-scroll">Menu</a></li>
                    <li><a href="@Url.Action("Chef","Template")" class="page-scroll">Chef</a></li>
                    <li><a href="@Url.Action("Contact","Template")" class="page-scroll">Contact</a></li>
                    <li><a href="@Url.Action("login","Account")" class="page-scroll">Login</a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div><hr />
    </nav>
    @RenderBody()
    <div id="contact" class="text-center">
        <div class="container text-center container2">
            <div class="col-md-4">
                <h3>Reservations</h3>
                <div class="contact-item">
                    <p>Please call</p>
                    <p>(887) 654-3210</p>
                </div>
            </div>
            <div class="col-md-4">
                <h3>Address</h3>
                <div class="contact-item">
                    <p>4321 California St,</p>
                    <p>San Francisco, CA 12345</p>
                </div>
            </div>
            <div class="col-md-4">
                <h3>Opening Hours</h3>
                <div class="contact-item">
                    <p>Mon-Thurs: 10:00 AM - 11:00 PM</p>
                    <p>Fri-Sun: 11:00 AM - 02:00 AM</p>
                </div>
            </div></div></div>
            <div id="footer">
                <div class="container text-center">
                    <div class="col-md-6">
                        <p>&copy; 2017 Gusto. All rights reserved. Design by <a href="http://www.templatewire.com" rel="nofollow">TemplateWire</a></p>
                    </div>
                    <div class="col-md-6">
                        <div class="social">
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>


            @Scripts.Render("~/bundles/jquery")
            @Scripts.Render("~/bundles/bootstrap")
            @RenderSection("scripts", required: false)
            <script type="text/javascript" src="~/Content/template/js/jquery.1.11.1.js"></script>
            <script type="text/javascript" src="~/Content/template/js/bootstrap.js"></script>
            <script type="text/javascript" src="~/Content/template/js/SmoothScroll.js"></script>
            <script type="text/javascript" src="~/Content/template/js/jqBootstrapValidation.js"></script>
            <script type="text/javascript" src="~/Content/template/js/main.js"></script>
</body>
</html>
